<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mybooks</title>
</head>
<body>
  <p>
    <span th:text="${greet}"></span>
  </p>

   <table border="1">
        <tr>
            <th>ＩＤ</th>
            <th>タイトル</th>
            <th>作者</th>
        </tr>
        <tr th:each="book: ${myBooks}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
        </tr>
    </table>

</body>
</html>